[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
awscli = "*"
calc = "*"
pyxero = "*"
requests = "*"
"python-oauth2" = "*"
pyyaml = "*"
flask = "*"
zappa = "*"

[dev-packages]
black = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
