[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyxero = "*"
requests = "*"

[dev-packages]
awscli = "*"
black = "*"
chalice = "*"
pipenv_to_requirements = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
