[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.7'

[packages]
calc = "*"
flask = "*"
flask-restplus = "*"
python-oauth2 = "*"
pyxero = "*"
pyyaml = "*"
requests = "*"
zappa = "*"

[dev-packages]
awscli = "*"
black = "*"
boto3 = "*"
pylint = "*"
rope = "*"
zappa = "*"

[pipenv]
allow_prereleases = true
